body{
    margin: 0px;
}

.center{
    text-align: center;
}



    .images{
        opacity: 0.8;
        /* margin: 0px; */
        /* width:100%; */
        /* margin-top: 0px;
        background-image: url("hotel2.jpg");
        width: 100vw;
        height: 100vh; 
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative; */

        background-image: url("hotel.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 70vh;

    }



/* .container{
    margin-top:0px;
    width: 100%;
    height: 30%;
    background-color: khaki;
    border: 1px solid black;
    display: inline-block;
   
} */
.navbar{
  
    margin: 0px;
    background-color: #303234;
    /* border: 1px solid red; */
    list-style: none;
    overflow: auto;
}



.navbar li{
   
    float: right;
    padding: 2px;
}



.navbar ul li a{
    text-decoration: none;
    /* font-size: large; */
    
}




.navbar ul li{
    /* font-size:xx-large; */
    float: left;
    list-style: none;
    color: white;
    font-size: xx-large;
}

.navbar li a{
    font-size: 15px;
    text-decoration: none;
    display: block;
    color:white;
    padding: 15px 20px;
    

}

.position
{
    position: absolute;
    top:35%;
    left:42%;
    font-family: Arial Black;
    color: red;
    font-size: 40px;
}

.position2{
    position: absolute;
    top:42%;
    left:20%;
    display: block;
    color: #33ccff;
    font-size: 20px;
}

.position3 a{

    position: absolute;
    top:55%;
    left:47%;
    text-decoration: none;
   display: block;
    background-color: #303234;
    color: white;
    padding: 15px;
}

.navbar li a:hover{
    background-color: #446190;
    color: red;
}

/* .navbar li a{
display: block;
color:black;

text-decoration: none;
padding:15px 20px;
} */

.clr1{
    color:red;
    font-size: 50px;

}

.clr2{
    color:white;
    font-size: 45px;
}

.border{
    display: flex;
    /* display: inline-block; */
    width: 100%;
    border: 1px solid black;
    background-color: #242624;
}

.building-img{
    border: 1px solid black;
    background-image: url("./building.jpg");
    width: 50%;
    height: 370px;
    /* margin-left: 10%; */
    background-size:cover ;
    background-repeat: no-repeat;


}

.history{
    width: 50%;
    padding: 18px;
   
    border: 1px solid black;
  
    text-align: center;
}
.history h1 span{
    color: khaki;
}
.history h1{
    color: white;
}

.history p{
    color: white;
    font-size: x-large;
}
